<router-outlet></router-outlet>
<!--<div class="container">

  <div class="progress-wrapper">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="current"
           viewBox="0 0 5 10"
           preserveAspectRatio="none"
           width="90px"
           height="100px"
           (click)="start()">
        <defs>
          <linearGradient id="gradient">
            <stop offset="5%" stop-color="cyan"/>
            <stop offset="50%" stop-color="royalblue"/>
            <stop offset="95%" stop-color="darkblue"/>
          </linearGradient>
          <linearGradient id="gradient2">
            <stop offset="0%" stop-color="royalblue"/>
            <stop offset="100%" stop-color="cyan"/>
          </linearGradient>
        </defs>
        <polygon class="poly" fill="url(#gradient)" points="0,0 5,5 0,10" />
        <style>
          .current {
            transform: translateX(-22%) rotateZ(60.7deg) rotateY(180deg);
          }
        </style>
      </svg>-->
    <!--<div class="current play" [ngStyle]="getOverlayStyle()"></div>-->
    <!--<round-progress
      [current]="current"
      [max]="max"
      [color]="'url(#gradient2)'"
      [background]="background"
      [radius]="radius"
      [stroke]="stroke"
      [semicircle]="semicircle"
      [rounded]="rounded"
      [clockwise]="clockwise"
      [responsive]="responsive"
      [duration]="duration"
      [animation]="animation"
      [animationDelay]="animationDelay"
    ></round-progress>
  </div>
</div>-->
